@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e2dfd0;
    font-family: 'Montserrat',Montserrat;
    margin: auto;
}

/* NAVIGATION SECTION STYLE */
.nav-bar{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 3%;
    list-style: none;
    font-size: clamp(0.6em,1.5vw,1.5vw);
    font-weight:500;
    color: white;
    background-color: #3e3232;
    height:clamp(50px,5vw,5vw);
    width: 96%;
    padding-right: clamp(80px,2%,2%);
    margin-top: 0px;
}

.products{
    color: black;
    font-family: 'Montserrat',Montserrat;
    font-size: clamp(0.9em,1.5vw,1.5vw);
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 10%;
    cursor: pointer;
}

.products:hover{
    background-color: #f0f0d7;
    border-radius: 5px;
}

#menu:hover .product-container{
    display: flex;
}

.product-container:hover{
    display: flex;
}

.product-container{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 0.8%;
    width: 8%;
    border-radius: 5px;
    background-color: #e5e5cb;
}

.nav-section{
    padding: 1%;
    border-radius: 3px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-section:hover{
    background-color: #e2dfd0;
    color: black;
    border-radius: 3px;
}

.pages{
    height: 100vh;
    width: 100vw;
}

#home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:5px solid; */
}

#donut-page{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 220vh;
}
